@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
    font-family: Ubuntu;
}
header{
    max-width: 1440px;
    height: 117px;
    padding-left: 5%;
    padding-right: 7%;
    background-color:#2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    font-weight: 700;
    font-size: 20px;
    color: #FDFDFD;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 309px;
    height: 24px;
}

footer {
    max-width: 1440px;
    height: 207px;
    background-color: #2E948A;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #FDFDFD;
    margin: 5px;
}


footer div a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: #FDFDFD;
    font-size: 20px;
    border-radius: 47px;
    border: solid 1px #FDFDFD;
    width: 289px;
    height: 51px;
    margin: 14px 0px 14px 0px;
    align-items: center;
}